/* banner */

.image-container {
    /* width: 53.75rem; */
    width: auto;
    height: auto;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    overflow: hidden;
}